<section class="copyright-bar">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="copyright-col">
                    <p>©2017. Designed by <a href="@Url.Action("Anasayfa", "Home")" target="_blank">Salih Altuntaş </a> Tüm hakları saklıdır.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="copyright-col">
                    <ul class="footer-social-group">
                        <li><a href="https://tr-tr.facebook.com/people/Lider-Su-Arıtma/100022615119889"><i class="fa fa-facebook" ></i></a></li>
                        <li><a href="https://www.instagram.com/aritmalidersu/"><i class="fa fa-instagram" ></i></a></li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

