
    <!-- Page Title bar -->
<section class="defult-page-title overlay-black">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title-box">
                    <h2>@ViewBag.Title</h2>
                    @*<p><a href="index-one.html">Home</a> / <a href="#">About</a></p>*@
                </div>
            </div>
        </div>
    </div>
</section>
