<section class="main-slider">
    <div class="slider">
        <ul class="slides">
            <li>
                <div class="slider-img">
                    <img src="~/Content/images/slider/slider-1.jpg" alt=""> <!-- random image -->
                </div>
                <div class="caption center-align text-center">
                    <h3><span>Su Arıtma Cihazı</span></h3>
                    <p>Satışı, Bakımı, Kontrolü Bizim İşimiz</p>
                </div>
            </li>
            <li>
                <div class="slider-img">
                    <img src="~/Content/images/slider/slider-2.jpg" alt=""> <!-- random image -->
                </div>
                <div class="caption left-align text-right">
                    <h3><span>Suya Hayat Veren Sistemler</span></h3>
                    <p>Etkili Satış Ağı, Profesyonel Çözümler</p>
                </div>
            </li>
            <li>
                <div class="slider-img">
                    <img src="~/Content/images/slider/slider-3.jpg" alt=""> <!-- random image -->
                </div>
                <div class="caption right-align text-left">
                    <h3><span>Geniş Ürün Yelpazesi</span></h3>
                    <p>Sağlıklı, Ekonomik ve Özgür Yaşam</p>
                </div>
            </li>
        </ul>
    </div>
</section>

