
@{
    ViewBag.Title = "AcikKasaCihazlar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="blog-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="section-title">
                    <div class="title-style">
                        <h2>AÇIK KASA CİHAZLAR NEWS</h2>
                    </div>
                    <p>Diğer açık kasa cihazlarımız için telefonla arayarak bilgi alabilirsiniz. </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="blog-col">
                    <div class="blog-img">
                        <img src="~/Content/images/cihazlar/Pompalı 7 Aşamalı Mineral-Alkali Su Arıtma Cihazı.jpg" style="width:400px;height:400px"/>
                        <div class="post-date">
                            <h3>Pompalı 7 Aşamalı Mineral-Alkali Su Arıtma Cihazı</h3>
                        </div>
                    </div>
                    <h4>Teknik Özellikler</h4>
                    <div class="info-bar clearfix">
                        <ul>
                            <li style="float:left"><i class="fa fa-asterisk" aria-hidden="true"></i> Membran: 75 GPD </li>
                        </ul>
                        <ul>
                            <li style="float:left"><i class="fa fa-asterisk" aria-hidden="true"></i> Çalışma Basıncı: 50 -100 psi</li>
                        </ul>
                        <ul>
                            <li style="float:left"><i class="fa fa-asterisk" aria-hidden="true"></i> Ölçüler (cm): 37 (Boy) x 45(Yük.) x 20 (En)</li>
                        </ul>
                        <ul>
                            <li style="float:left"><i class="fa fa-asterisk" aria-hidden="true"></i> Ağırlık: 12 kg – sistem / 4 kg - tank</li>
                        </ul>
                    </div>
                    <p>7 Aşamalı tezgah altı reverse osmosis su arıtım cihazı, Reverse Osmosis üniteleri yüksek teknolojinin en son olanaklarının kullanıldığı üst düzey bir su arıtım prosesidir.Cihazın kapasitesi 75 Gpd dir. Günde 150-250 lt su üreteceginden dolayı içme suyu haricinde yemek yapımı ve kullanım açısından da gerekli su ihtiyacını da karşılayacaktır.</p>
                </div>
            </div>
    
        </div>
    </div>
</section>


