
@{
    ViewBag.Title = "Filtreler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="blog-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="section-title">
                    <div class="title-style">
                        <h2>FİLTRELER</h2>
                    </div>
                    <p>Diğer filtrelerimiz için telefonla arayarak bilgi alabilirsiniz. </p>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="blog-col">
                    <div class="blog-img">
                        <img src="~/Content/images/cihazlar/5 mikron.jpg" style="width:400px;height:400px" />

                        <div class="post-date">
                            <h3>5 MİCRON SEDİMENT FİLTRE</h3>
                        </div>
                    </div>

                    <p>Sisteme giren şebeke suyu 1.aşamada 5 mikron tortu filtreden geçirilerek süzülür.Yüksek kapasite filtre toz, parçacıklar ve pası süzer. % 99,70 oranında anti-bakteriyel olup amerikan sağlık bakanlığı FDA test standartlarına uygundur. Içinde 100 saf PP fiberleri kullanılmıştır. Ürün serisinin tümü ABD’nin ANSI-NSF standart 42 – partikül azaltma sınıf II-V filtrasyon effect sınavından başarı ile geçmiştir.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="blog-col">
                    <div class="blog-img">

                        <img src="~/Content/images/cihazlar/gac carbon f.jpg" style="width:400px;height:400px" />

                        <div class="post-date">
                            <h3>GAC KARBON FİLTRE</h3>
                        </div>
                    </div>

                    <p>Suda bulunan kötü tat ve kokuyu giderir. Filtre ömrü, su kullanımına ve gelen suyun kalitesine göre değişmekle beraber, ortalama 6 aydır. Filtre değişimi oldukça kolaydır.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="blog-col">
                    <div class="blog-img">
                        <img src="~/Content/images/cihazlar/blokkarbonfiltre.jpg"  style="width:400px;height:400px" />
                     
                        <div class="post-date">
                            <h3>BLOK KARBON FİLTRE </h3>
                        </div>
                    </div>
             
                    <p>Blok Karbon Filtre. Suda bulunan kötü tat ve kokuyu giderir. Filtre ömrü, su kullanımına ve gelen suyun kalitesine göre değişmekle beraber, ortalama 6 aydır. Filtre değişimi oldukça kolaydır. Cihazla beraber gönderilen açma anahtarı ile housing açılarak , eski filtre çıkarılır ve yenisi içine konularak, tekrar anahtar yardımı ile housing kapatılır.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="blog-col">
                    <div class="blog-img">
                        <img src="~/Content/images/cihazlar/son-karbon-tatlandirici.jpg" style="width:400px;height:400px" />

                        <div class="post-date">
                            <h3>SON KARBON FİLTRE</h3>
                        </div>
                    </div>

                    <p>Son karbon filtre (Tatlandırıcı ) su arıtmanın membrandan sonraki saf haldeki suyu yumuşatarak içimini tatlandırır. Cihazlarda ve Sistemlerde arıtıcı filtre olarak 5. aşamada kullanılır.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="blog-col">
                    <div class="blog-img">
                        <img src="~/Content/images/cihazlar/membran filre.jpg" style="width:400px;height:400px" />
                        <div class="post-date">
                            <h3>MEMBRAN FİLTRE</h3>
                        </div>
                    </div>

                    <p>Membran filtrelerin yapısı, basınca ve vakuma dayanıklı, gözenek büyüklükleri mikron seviyesine indirilmiş, çok sık gözeneklerden oluşmuş elek gibidir. Bu tanımlamadan da anlaşılacağı gibi; membran filtrelerin, filtrasyonu yapılan sıvılar üzerinde sadece fiziksel bir işlevi vardır.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="blog-col">
                    <div class="blog-img">
                        <img src="~/Content/images/cihazlar/İNLİNE FİLTR.jpg"style="width:400px;height:400px" />
                      
                        <div class="post-date">
                            <h3>İNLİNE FİLTRE </h3>
                        </div>
                    </div>


                    <p> Sularda bulunan çözünmemiş askıda katı maddelerin (tortu, kum, çamur v.s.) oluşturduğu kirliliğe bulanıklık denir. Askıda katı maddelerin oluşturduğu kirliliği giderme, filtrasyon işlemi ile yapılmaktadır. Bu filtre suyunuzda bulunabilecek Partiküller, Kir, Tortu, Kum arıtımı için kullanılır.</p>
                </div>
            </div>
        </div>
    </div>
</section>
B

