
@{
    ViewBag.Title = "KapaliKasaCihazlar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="blog-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="section-title">
                    <div class="title-style">
                        <h2>KAPALI KASA CİHAZLAR</h2>
                    </div>
                    <p>Diğer kapalı kasa cihazlarımız için telefonla arayarak bilgi alabilirsiniz. </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="blog-col">
                    <div class="blog-img">
                        <img src="~/Content/images/cihazlar/reverse-osmosis-slim-kasa-su-aritma-cihazi-332x455.jpg" style="width:400px;height:400px"/>
                        <div class="post-date">
                            <h3>Reverse Osmosis Slim Kasa Su Arıtma Cihazı</h3>
                        </div>
                    </div>
                    <h4>Teknik Özellikler</h4>
                    <div class="info-bar clearfix">
                        <ul>
                            <li style="float:left"><i class="fa fa-asterisk" aria-hidden="true"></i> 12 inch İnline Kartuş Filtre Sistemi</li>
                        </ul>
                        <ul>
                            <li style="float:left"><i class="fa fa-asterisk" aria-hidden="true"></i> 12 Litre Tank Kapasiteli</li>
                        </ul>
                        <ul>
                            <li style="float:left"><i class="fa fa-asterisk" aria-hidden="true"></i> Günlük 300 Lt Su Üretimi</li>
                        </ul>
                        <ul>
                            <li style="float:left"><i class="fa fa-asterisk" aria-hidden="true"></i> 75 GPD Membran Filtre USA</li>
                        </ul>
                    </div>
                    <p>5 filtrasyon aşaması içerir. Mutfak tezgahı altında minimum yer kaplar.Yeşil Teknoloji & Elektrik Gerektirmez.Sağlıklı ve Lezzetli Su Üretir.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="blog-col">
                    <div class="blog-img">
     
                        <img src="~/Content/images/cihazlar/Bordo Tezgah Altı.jpg" style="width:400px;height:400px"/>
                        <div class="post-date">
                            <h3>Rosy Class Bordo Tezgah Altı Su Arıtma Cihazı</h3>
                        </div>
                    </div>
                    <h4>Teknik Özellikler</h4>
                    <div class="info-bar clearfix">
                        <ul>
                            <li style="float:left"><i class="fa fa-asterisk" aria-hidden="true"></i> Amerikan 75 Gpd Membran Filtre</li>
                        </ul>
                        <ul>
                            <li style="float:left"><i class="fa fa-asterisk" aria-hidden="true"></i> Günde 270 litre su üretimi</li>
                        </ul>
                        <ul>
                            <li style="float:left"><i class="fa fa-asterisk" aria-hidden="true"></i> Dört yönlü (Shut-Off) Valf</li>
                        </ul>
                        <ul>
                            <li style="float:left"><i class="fa fa-asterisk" aria-hidden="true"></i> Boyutlar (cm) : 41x24x43</li>
                        </ul>
                    </div>
                    <p> 75 GPD (270 Litre/Gün) kapasitesi evinizin ve  iş yerinizin  sağlıklı ve temiz su ihtiyacını karşılayacak kapasitededir. Dahili 12 Litre deposu ile fazla yer tutmaz. Şık  musluğu mutfağınıza değer katarak 360 derece dönebilen başlığı ile kullanım kolaylığı sağlayacaktır.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="blog-col">
                    <div class="blog-img">
                      
                        <img src="~/Content/images/cihazlar/ravent-kapali-kasa-su-aritma-1200x1200.jpg"  style="width:400px;height:400px" />
                        <div class="post-date">
                            <h3>Ravent Kapalı Kasa Su Arıtma Cihazı</h3>
                        </div>
                    </div>
                    <h4>Teknik Özellikler</h4>
                    <div class="info-bar clearfix">
                        <ul>
                            <li style="float:left"><i class="fa fa-asterisk" aria-hidden="true"></i> 12 inch İnline Filtre Sistemi </li>
                        </ul>
                        <ul>
                            <li style="float:left"><i class="fa fa-asterisk" aria-hidden="true"></i> 80 GPD LG Membran (USA) </li>
                        </ul>
                        <ul>
                            <li style="float:left"><i class="fa fa-asterisk" aria-hidden="true"></i> 2.2 G Metal Tank (9 Litre )</li>
                        </ul>
                        <ul>
                            <li style="float:left"><i class="fa fa-asterisk" aria-hidden="true"></i> Günlük 300 Lt Su Üretimi</li>
                        </ul>
                    </div>
                    <p>Dahili tank ,kompakt tasarım, tazyikli su üretimi, mutfak tezgahı altında minimum yer kaplar, yeşil teknoloji & elektrikli sistem, sağlıklı ve lezzetli su üretir.</p>
                </div>
            </div>
        </div>
    </div>
</section>

