
@{
    ViewBag.Title = "ReverseOsmosisCihazlar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="blog-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="section-title">
                    <div class="title-style">
                        <h2>ENDUSTRİYEL REVERSER OSMOSİS CİHAZLAR</h2>
                    </div>
                    <p>Diğer cihazlarımız için telefonla arayarak bilgi alabilirsiniz. </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="blog-col">
                    <div class="blog-img">
                        <img src="~/Content/images/cihazlar/RO-500 WP Pompalı Tezgahaltı Ters Ozmos Sistemi 4 Aşamalı.jpg" style="width:400px;height:400px" />
                      
                        <div class="post-date">
                            <h3>RO-500 WP Pompalı Tezgahaltı Ters Ozmos Sistemi 4 Aşamalı</h3>
                        </div>
                    </div>
                    <h4>Teknik Özellikler</h4>
                    <div class="info-bar clearfix">
                        <ul>
                            <li style="float:left"><i class="fa fa-asterisk" aria-hidden="true"></i> 20” Mat Mavi Housing (3 Adet)</li>
                        </ul>
                        <ul>
                            <li style="float:left"><i class="fa fa-asterisk" aria-hidden="true"></i> 20” Pp Spun 5µ Sediment Filtre</li>
                        </ul>
                        <ul>
                            <li style="float:left"><i class="fa fa-asterisk" aria-hidden="true"></i> 20” Udf 93 Aktif Karbon Filtre</li>
                        </ul>
                        <ul>
                            <li style="float:left"><i class="fa fa-asterisk" aria-hidden="true"></i> 11 Galon Çelik Tank (Beyaz)</li>
                        </ul>
                    </div>
                    <p>Amerikan Gıda ve İçecek yönetmeliğine uygun polipropilen'den imal filtre kapları (çift contalı), Uzağa erişebilen şık tasarımlı paslanmaz krom musluk,Besleme suyu bağlantısı,Tamamen monte edilmiş ve fabrika testi yapılmış ve montaja hazır bir şekilde sterilize edilmiş.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="blog-col">
                    <div class="blog-img">

                        <img src="~/Content/images/cihazlar/daire girisli.jpg"  style="width:400px;height:400px" />
                       
                        <div class="post-date">
                            <h3>Daire Girişi İkili Su Arıtma Sistemi</h3>
                        </div>
                    </div>
                    <h4>Teknik Özellikler</h4>
                    <div class="info-bar clearfix">
                        <ul>
                            <li style="float:left"><i class="fa fa-asterisk" aria-hidden="true"></i> 10 Micron Hassasiyetinde Tortu Filtresi</li>
                        </ul>
                        <ul>
                            <li style="float:left"><i class="fa fa-asterisk" aria-hidden="true"></i> Slüfoz kireç Önleyici Filtre</li>
                        </ul>
                        <ul>
                            <li style="float:left"><i class="fa fa-asterisk" aria-hidden="true"></i> Max. çalışma basıncı : 8 bar</li>
                        </ul>
                        <ul>
                            <li style="float:left"><i class="fa fa-asterisk" aria-hidden="true"></i> Max. çalışma sıcaklığı: 45 C</li>
                        </ul>
                    </div>
                    <p> Şebeke ve kuyu sularının arıtımı ve filtrasyonunda kullanılan 2 kademeli arıtma cihazı ile tüm dairede kullanılan su, tek bir cihazla arıtılmakta, evinizin bütün musluklarından arıtılmış su akmaktadır.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="blog-col">
                    <div class="blog-img">
                        <img src="~/Content/images/cihazlar/RO-Light-Commercial-Reverse-Osmosis-Water-Filter-System.jpg" style="width:400px;height:400px"/>
                        <div class="post-date">
                            <h3>RO-300 DİREKT AKIŞLI SU ARITMA CİHAZI </h3>
                        </div>
                    </div>
                    <h4>Teknik Özellikler</h4>
                    <div class="info-bar clearfix">
                        <ul>
                            <li style="float:left"><i class="fa fa-asterisk" aria-hidden="true"></i> 5 aşamalı filitre sistemi </li>
                        </ul>
                        <ul>
                            <li style="float:left"><i class="fa fa-asterisk" aria-hidden="true"></i>300 gpd membran filtre</li>
                        </ul>
                        <ul>
                            <li style="float:left"><i class="fa fa-asterisk" aria-hidden="true"></i> 1000 litre/gün su üretim kapasitesi</li>
                        </ul>
                        <ul>
                            <li style="float:left"><i class="fa fa-asterisk" aria-hidden="true"></i> Memran filitre kendi kendini temizleme</li>
                        </ul>
                    </div>
                    <p>RO-300 Direk akışlı su arıtma cihazı 300 GPD membran filitre sayesinde tanka ihtiyaç duymaz doğrudan akışlıdır. Günlük 1 Ton su arıtma kapasitesine sahip selenoid vana sistemi açık kasa pompalı direk flow su arıtma cihazı. Çok su ihtiyacı olan işyerleri için idealdir.</p>
                </div>
            </div>
        </div>
    </div>
</section>

