
@{
    ViewBag.Title = "UvFiltreler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="blog-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="section-title">
                    <div class="title-style">
                        <h2>ULTAVİYOLE FİLTRELER</h2>
                    </div>
                    <p>Diğer UV cihazlarımız için telefonla arayarak bilgi alabilirsiniz. </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="blog-col">
                    <div class="blog-img">
                        <img src="~/Content/images/cihazlar/UV FİLTR.jpg" style="width:400px;height:400px" />
                        <div class="post-date">
                            <h3>ULTRAVİYOLE SU ARITMA SİSTEMİ</h3>
                        </div>
                    </div>
                    <h4>Teknik Özellikler</h4>
                    <div class="info-bar clearfix">
                        <ul>
                            <li style="float:left"><i class="fa fa-asterisk" aria-hidden="true"></i> Kapasite: 400 litre/saat</li>
                        </ul>
                        <ul>
                            <li style="float:left"><i class="fa fa-asterisk" aria-hidden="true"></i> Lamba gücü: 6 Watt</li>
                        </ul>
           
                        <ul>
                            <li style="float:left"><i class="fa fa-asterisk" aria-hidden="true"></i> Çalışma Basıncı: 5,8 Bar max.</li>
                        </ul>
                    </div>
                    <p>UV Su Arıtma Sistemleri Ultraviyole mikrop öldürücü ışınlama olarak bilinen bir yöntem kullanır. Bu yöntem, mikroorganizmaları öldürmek için, yeterince kısa dalga boyunda mor ötesi (UV) ışık kullanır. </p>
                </div>
            </div>
            
            
        </div>
    </div>
</section>

