
@{
    ViewBag.Title = "Anasayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Slider Start -->
@Html.Partial("_Slider")
<!-- Features Start -->
<section class="features-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="features-col">
                    <i class="icofont icofont-briefcase-alt-2"></i>
                    <h4>7/24 TEKNİK DESTEK</h4>
                    <p>Tecrübeli ve eğitimli çalışma arkadaşlarımız tarafından, kurulum ve sonrası işlemlerde 7/24 teknik servis hizmeti vermekteyiz.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-col">
                    <i class="icofont icofont-bank-alt"></i>
                    <h4>TASARRUF EDİN</h4>
                    <p>Damacana sularına harcadığınız ücretlere artık son! Hem kaliteli ve sağlıklı hem de ekonomik bir çözüm sunuyoruz.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-col">
                    <i class="icofont icofont-growth"></i>
                    <h4>15 YILLIK TECRÜBE</h4>
                    <p>Herbiri alanında uzman ekibimiz ile %100 müşteri memnuniyetini hedefliyor ve bu doğrultuda keyifle çalışıyoruz.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hakkımızda  -->
<section class="about-section">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6">
                <div class="about-col">
                    <h2>Suyun <span> Hayatımızdaki</span> Önemi</h2>
                    <h5>Sağlık En Değerli Hazinemizdir</h5>
                    <p class="para-space">Suya ihtiyacımız var Vücudumuzun yaklaşık 7/10'u sudan oluşmaktadır Ses iç kulağa sıvılar vasıtasıyla iletilir Su vucut sıcaklığını dengelemede önemli rol oynar Su eklemler , kalp, bağırsaklar gibi hareketli organların zorlanmadan çalışmasını sağlar. Su proptoplasmadaki maddelerin çözülmesini veya supense olmasını sağlar Denge için gerekli duyuların işlevselliği suya bağlıdır Beynin gri tabakasının %85'i sudur. Gözün şeffaf tabakası büyük oranda sudan oluşmaktadır Su akciğerlerin yüzeyini nemlendirerek gaz difüzyonunu sağlar Su sindirim , absorbsiyon, metabolizma ve salgılama için gerekli bir ortamdır.</p>
                    <p>Kullanım amacının gerektirdiğinden daha kaliteli bir su temin etmek, yatırımın maliyetini gereksiz artırmakla eşanlamlıdır. Aynı zamanda en ucuz sistemin seçilmesi de boşa yatırım yapılması anlamına da gelebilmektedir. Bundan dolayı, su arıtma sistemlerine ilişkin yatırıma girmeden önce biraz zaman ayırıp detaylı inceleme ve tetkiklerde bulunmak ve amaca uygun sistemin seçimini sağlamak çok önemlidir. Bu yapılmadığı takdirde, standartlara göre teklif veren firmaların tekliflerinin ilk aşamada elenmesi kaçınılmaz olacaktır. Bununla birlikte, tüketici de işe yaramayan bir sistem satın almış olacaktır. Şu iyi bilinmelidir ki, su arıtma sistemlerinin % 100 verimli çalıştığının veya hiç çalışmadığının alıcı tarafından tespit edilmesi belli sistemler dışında oldukça zahmetli ve zordur. Bu sebeple sistemlerin temel seçim esaslarının hem alıcı hem de dizayn mühendisi tarafından iyi bilinmesi gereklidir.</p>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="about-col about-img">
                    <img src="~/Content/images/water-images.jpg" alt="">
                    <div class="about-info">
                        <h4>Suyun Önemi</h4>
                        <p>Suyun tüm bu önemli fonksiyonlarını düşündüğünüzde , içtiğiniz ve kullandığınız suyun yüksek kalitesi çok daha iyi hissetmenizi sağlayacaktır.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Video  -->
<section class="video-section parallax overlay-black" data-parallax-bg-image="~/Content/images/bg/2.jpg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="video-col">
                    <h2>Su Arıtma Cihazları <span>Membran Filtre</span></h2>
                    <div class="video-title-bdr"></div>
                    <a class="demo" href="https://youtu.be/f13ickp18Pk"><i class="fa fa-play-circle" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hizmetlerimiz -->
<section class="service-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="section-title">
                    <div class="title-style clearfix">
                        <h2>HİZMETLERİMİZ</h2>
                    </div>
                    <p>Geniş ürün yelpazesi ve her ihtiyaca özel çözümler Lider Su Arıtma'da.</p>
                </div>
            </div>
        </div>
        <div class="row animatedParent animateOnce">
            <div class="col-lg-4 col-md-6 col-sm-6 col-12 full-wd-480">
                <div class="service-col animated fadeInUpShort slow">
                    <i class="icofont icofont-dart"></i>
                    <h4>Satış</h4>
                    <p>Konusunda uzman ekibimiz talebinize uygun çözümleri piyasadaki en son teknoloji ışığında ekonominize uygun bir doğrultuda uygulamaktadır.F/P ilkesini optimize bir şekilde siz müşterilerimizin huzuruna sunmaktadır.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-12 full-wd-480">
                <div class="service-col animated fadeInUpShort slow delay-250">
                    <i class="icofont icofont-growth"></i>
                    <h4>Teknik Servis</h4>
                    <p> Yedek parça ve sarf malzeme açısından çok geniş bir yelpazeye sahip olan firmamız sistemin arızalanması durumunda en hızlı, en güvenilir çözümleri üretir, sistemin ivedilikle ve en az maliyet ile tekrar faaliyete geçmesini sağlar.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-12 full-wd-480">
                <div class="service-col animated fadeInUpShort slow delay-500">
                    <i class="icofont icofont-pie-chart"></i>
                    <h4>Endüstriyel Çözümler</h4>
                    <p>Tecrübeli teknik servisimiz güvenilir hizmeti hedefler ve işletme maliyetlerinizi azaltmanızı amaçlar.Benzersiz ihtiyaçlarınız için tasarlanmış bir sistem ile enerji tüketimizi azaltın, tasarruf edin.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-12 full-wd-480">
                <div class="service-col animated fadeInUpShort slow delay-750">
                    <i class="icofont icofont-briefcase-alt-1"></i>
                    <h4>Kurulum & Montaj</h4>
                    <p>Teknik servisimiz, projenin montajının bitirilmesine müteakip süreçte sistemin test edilmesini ve siz değerli iş ortaklarımıza sorunsuz olarak devredilmesini sağlar.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-12 full-wd-480">
                <div class="service-col animated fadeInUpShort slow delay-1000">
                    <i class="icofont icofont-bank-alt"></i>
                    <h4>Keşif</h4>
                    <p> Keşif sırasında; arıtılması planlanan suyun kullanım amacı ve analizi, günlük ve saatlik su tüketimin tespit edilmesi, sistemin yapı içerisinde en uygun verimle çalışacağı lokasyonun belirlenmesi ekibimiz tarafından gerçekleştirilir</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-12 full-wd-480">
                <div class="service-col animated fadeInUpShort slow delay-1250">
                    <i class="icofont icofont-deal"></i>
                    <h4>Projelendirme</h4>
                    <p>Sistemin yüksek performans ile çalışabilmesi, sistemden en iyi verimin alınabilmesi, ileriye dönük süreçte sistemin sorunsuz olarak işlevini sürdürebilmesi gibi hususlarını göz önünde bulundurarak projelendirme gerçekleştirir.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Referanslarımız  -->
<section class="client-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <div class="title-style clearfix">
                        <h2>Referanslarımız</h2>
                    </div>
                </div>
                <div class="client-col">
                    <div class="client-carousel">
                        <div class="item"><a href="#"><img src="~/Content/images/references/marti-balik.png" alt=""></a></div>
                        <div class="item"><a href="#"><img src="~/Content/images/references/oncu-doner.png" alt=""></a></div>
                        <div class="item"><a href="#"><img src="~/Content/images/references/pik cafe.jpg" alt=""></a></div>
                        <div class="item"><a href="#"><img src="~/Content/images/references/bellona-logo.jpg" alt=""></a></div>
                        <div class="item"><a href="#"><img src="~/Content/images/references/yogun-bakim.png" alt=""></a></div>
                        <div class="item"><a href="#"><img src="~/Content/images/references/CETİNKAYALGO.jpg" alt=""></a></div>
                        <div class="item"><a href="#"><img src="~/Content/images/references/dikkatet.jpg" alt=""></a></div>
                        <div class="item"><a href="#"><img src="~/Content/images/references/pinarlar_logo-u277.png" alt=""></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Counter Start -->
<section class="counter-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="counter-col">
                    <div class="counter">
                        <i class="icofont icofont-files"></i>
                        <span class="count">2500</span>
                    </div>
                    <p>Proje</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="counter-col">
                    <div class="counter">
                        <i class="icofont icofont-users"></i>
                        <span class="count">2300</span>
                    </div>
                    <p>Mutlu Müşteri</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="counter-col">
                    <div class="counter">
                        <i class="icofont icofont-emo-simple-smile"></i>
                        <span class="count">2000</span>
                    </div>
                    <p>Ev ve İşyeri</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="counter-col">
                    <div class="counter">
                        <i class="icofont icofont-medal"></i>
                        <span class="count">1000</span>
                    </div>
                    <p>Binlerce Ürün</p>
                </div>
            </div>
        </div>
    </div>
</section>



@section custompageCss
{


}

@section custompageJs
{
    <script type="text/javascript">
        $(document).ready(function(){
          $('.slider').slider();
        });
    </script>

}